<html>
  <head>
    <style>
      html, body {
        margin: 0;
        padding: 0;
      }
      body {
        overflow: hidden;
        background: #292a33;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
    <!-- <script src="sketch.js"></script> -->
    <script>
      function setup() {
        createCanvas(windowWidth, windowHeight);
        circle(width / 2, height / 2, 50);
      }
    </script>
  </head>
  <body>
    <main>
    </main>
  </body>
</html>